<% layout("/layouts/boilerplate.ejs") %>   
 <div class="filters-wrap px-lg-4 px-2">
    <button class="scroll-btn left-btn"><i class="fa-solid fa-less-than"></i></button>
    <div class="filters-container ">
        <div class="filters">
            <div class="filter">
                <a href="/listings/filter/Trending">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Rooms">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Iconic-Cities">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Mountains">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </a>
            </div>
            <div class="filter">
            <a href="/listings/filter/Castles">
                    <div><i class="fa-solid fa-chess-rook"></i></div>
                    <p>Castles</p>
            </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Amazing-pools">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazing pools</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Camping">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Farms">
                    <div><i class="fa-solid fa-tractor"></i></div>
                    <p>Farms</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Arctic">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Arctic</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Domes">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Domes</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Boats">
                    <div><i class="fa-solid fa-ship"></i></div>
                    <p>Boats</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Beachfront">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beachfront</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Cabins">
                    <div><i class="fa-solid fa-tree"></i></div>
                    <p>Cabins</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Lakes">
                    <div><i class="fa-solid fa-water"></i></div>
                    <p>Lakes</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Heritage">
                    <div><i class="fa-solid fa-vihara"></i></div>
                    <p>Heritage</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Vineyards">
                    <div><i class="fa-solid fa-wine-bottle"></i></div>
                    <p>Vineyards</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Ryokans">
                    <div><i class="fa-solid fa-torii-gate"></i></div>
                    <p>Ryokans</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Hiking">
                    <div><i class="fa-solid fa-person-hiking"></i></div>
                    <p>Hiking</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Glamping">
                    <div><i class="fa-solid fa-tent"></i></div>
                    <p>Glamping</p>
                </a>
            </div>
            <div class="filter">
                <a href="/listings/filter/Overwater">
                    <div><i class="fa-solid fa-house-flood-water"></i></div>
                    <p>Overwater</p>
                </a>
            </div>
        </div>
    </div>
    <button class="scroll-btn right-btn"><i class="fa-solid fa-greater-than"></i></button>
    <div class="tax-toggle">
        <div class="toggle-container">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexswitchCheckDefault">
                <label class="form-check-label tax-label" for="flexswitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
 </div>

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 mt-2 px-lg-4 px-2">
    <% for(let listing of allListings) {%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=listing.image.url%>" 
                    class="card-img-top" 
                    alt="listing_image" 
                    style="height: 20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377;<%= listing.price.toLocaleString("en-IN")%>/night
                        <i class="tax-info">&nbsp; +18% GST</i>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>


