<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-12 col-lg-6 offset-lg-3">
  <h2 class="text-danger">Delete Your Account</h2>
  <p class="text-muted">This action will permanently delete your account, listings, and bookings.</p>

  <form id="deleteForm" action="/delete?_method=DELETE" method="POST">
    <% if (!currUser.googleId) { %>
    <div class="mb-3">
      <label for="password" class="form-label">Confirm your password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <% } %>
    <button type="submit" class="btn btn-danger">Delete Account</button>
  </form>
  </div>
</div>
